#%Module1.0####################################################################
##
## mymodule modulefile
##
## Sets up the SAS environment
##
set ver {{ item }}
set name sas
#set loading [module-info mode load]
#set subname [lrange [split $name - ] 0 0 ]

proc ModulesHelp { } {
  puts stderr "\tThis module sets the environment for $name v$ver"
}

module-whatis   "Set environment variables to use $name version $ver"

set base {{ cluster_apps_dir }}/$name/$ver

## Add bin directories to the path
prepend-path PATH $base/SASFoundation/$ver

if { [ module-info mode load ] } {
  puts stderr "Note: $name $ver environment loaded."
}
