---
v2:
  metadata:
    title: "{{ ood_cluster_title }}"
  login:
    host: "{{ ood_cluster_host }}"
  job:
    adapter: "slurm"
    bin: "{{ slurm_bin }}"
    conf: "/etc/slurm/slurm.conf"
  batch_connect:
    basic:
      script_wrapper: |
        module purge
        %s
      set_host: "host=$(hostname -A | awk '{print $1}')"
    vnc:
      script_wrapper: |
        module purge
        export PATH="/opt/TurboVNC/bin:$PATH"
        export WEBSOCKIFY_CMD="/bin/websockify"
        %s
      set_host: "host=$(hostname -A | awk '{print $1}')"

