#!/bin/bash
# from https://stackoverflow.com/questions/6250698
function urldecode() { : "${*//+/ }"; echo -e "${_//%/\\x}"; }

username=$1

export PYTHONPATH={{ rabbitmq_agents_loc }}
{{ rabbitmq_agents_loc }}/venv/bin/python {{ rabbitmq_agents_loc }}/prod_rmq_agents/examples/user_auth.py $username
